/*Reset css*/

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    background-color: #fff;
}

html {
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
}

/*Menu*/

.App {
    height: 1500px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: fixed;
    width: 100%;
    background-color: #D7BDE2;
    transition: background-color 0.3s ease;
    z-index: 9000;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
}

.nav-items ul {
    list-style: none;
    display: flex;
}

.nav-items ul li {
    margin-right: 20px;
    color: #fff;
    cursor: pointer;
    font-size: 1.8em;
}

.nav-items ul li:last-child {
    margin-right: 0;
}

.nav-items ul li:hover {
    color: #ffcc00;
}

.navbar.white-bg {
    background-color: #fff;
    color: black;
    box-shadow: 0px 1px 10px #c3c6c7;
}

.navbar.white-bg .logo {
    color: #000;
}

.navbar.white-bg .nav-items ul li {
    color: #000;
}

.App-content {
    padding-top: 80px;
}

/*Principal*/

.main-section {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.top-section {
    background-color: #D7BDE2;
    padding: 8rem 0 5rem 5rem;
    display: flex;
    align-items: center;
    height: 60vh;
    max-width: 100vw;
}

.bottom-section {
    background-image: url('../public/fondo.jpg');
    background-size: cover;
    background-position: center;
    height: 50vh;
}

.content {
    display: flex;
    flex-direction: column;
    color: #fff;
}

.content h1 {
    font-size: 3em;
    max-width: 530px;
}

.description {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}

.description h3 {
    font-size: 2em;
    font-weight: 400;
    width: 400px;
}

.description button {
    width: 100px;
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    font-size: 1.8em;
}

/*Puntos*/

.puntos {
    min-height: 30vh;
    background-color: #D7BDE2;
    padding: 5rem;
    display: flex;
    justify-content: space-evenly;
    color: #fff;
}

.clientes button,
.puntos-de-venta button,
.alumnos button {
    padding: 1rem;
    border: 100%;
    background-color: #fff;
    border: transparent;
}

.clientes,
.puntos-de-venta,
.alumnos {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.clientes h4,
.puntos-de-venta h4,
.alumnos h4 {
    font-size: 2em;
}

.clientes p,
.puntos-de-venta p,
.alumnos p {
    font-size: 1.8em;
    max-width: 300px;
}

/*Seccion acerca de*/

.acerca-de {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    padding: 0 2rem 0 2rem;
    align-items: center;
    padding-top: 5rem;
    min-height: 100vh;
}

.contenedor-foto-principal{
    position: relative;
}

.foto-principal{
    width: 500px;
    height: 500px;
    object-fit: cover;
    box-shadow: -5px 5px 10px #c3c6c7;
}

.dialogo-deco{
    position: absolute;
    width: 90px;
    left: -7%;
    top: -4%;
}

.rectangulo-con-texto {
    position: absolute;
    top: 60%;
    right: -10%;
    width: 250px;
    background-color: #ECF0F1;
    border-radius: 5px;
    padding: 20px;
    color: #000;
}

.rectangulo-con-texto p {
    margin: 0;
    font-size: 1.5em;
}

.descripcion-empresa h2{
    font-size: 3em;
    max-width: 420px;
}

.descripcion-empresa p{
    font-size: 1.8em;
    max-width: 420px;
}

.foto-equipo-empresa{
    padding-top: 5rem;
    display:flex;
    gap: 2rem;
}

.foto-equipo-empresa .foto-equipo-1,
.foto-equipo-empresa .foto-equipo-2{
    box-shadow: -5px 0px 10px #c3c6c7;
}

/*Productos*/

.productos{
    width: 100%;
    min-height: 100vh;
    background-color: #AED6F1;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.titulo-productos{
    padding-top: 2rem;
}

.titulo-productos h2{
    font-size: 3em;
    color: #fff;
}

.container-productos{
    display:flex;
    justify-content: center;
    padding: 2rem;
    gap: 2rem;
    flex-wrap: wrap;
}

.tarjeta{
    width: 300px;
    height: 300px;
    position: relative; 
    overflow: hidden;
}

.tarjeta img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.tarjeta button {
    position: absolute; 
    bottom: 5%; 
    left: 50%;
    transform: translateX(-50%); 
    width: 150px;
    background-color: #F5B7B1;
    border:none;
    font-size: 1.8em;
    color: #fff;
    font-weight: 500;
    padding: 1rem;
    z-index: 1;
}

.ver-productos-tienda{
    padding-bottom: 2rem;
    display:flex;
    gap: 2rem;
}

.ver-productos-tienda p{
    font-size: 1.8em;
    width: 250px;
    color: #fff;
    font-weight: 500;
}

.ver-productos-tienda button{
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    width: 100px;
    padding: 1rem;
    font-size: 1.8em;
}

/*Puntos de venta*/
.puntos-venta{
    width: 100%;
    min-height: 100vh;
    display:flex;
    flex-direction: column;
    background-color: #AED6F1;
    padding-left: 5rem;
}

.puntos-venta h2{
    font-size: 3em;
    color: #fff; 
    padding-bottom: 2rem;
}

.container-mapa-direcciones{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.mapa-puntos-de-venta{
    width: 600px;
    height: 600px;
}

.mapa-puntos-de-venta img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.direcciones{
    width: 600px;
    height: 600px;
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
    padding: 5rem;
    font-size: 1.8em;
    display:flex;
    flex-direction: column;
    gap: 3rem;
}

/*Reseñas*/


